aside {
    background-color: #303030;
}

.colonneCanaux {
    background-color: #3A3A3A;
    border-color: 2px solid white;
}

.container {
    display: flex;
    justify-content: center;
}
  
.column {
    width: 200px;
    border: 1px solid #ccc;
}

.texteSurImage {
    color: white;
    font-family: 'Open Sans', sans-serif;
}