

body {
    background-color: rgb(54, 54, 54);
    color: aliceblue;
}

main{
    width:100% ;
}

.bullePersonnalisee {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bullePersonnalisee i {
    color: #303030; 
    background-color: #d9d9d9;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
