body {
    background-color: #1a1a1a;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #1a1a1a;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileImage {
    width: 6rem;
    height: 6rem;
    background-color: #666;
    border-radius: 50%;
}

#image{
    width: 6rem;
    height: 6rem;
    background-color: #666;
    border-radius: 50%;
}
.navBouton {
    background-color: #a9fe77;
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 0.25rem;
}
.statContainer {
    margin-top: 1.5rem;
    width: 100%;
    max-width: 75%;
}
.statRow {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
}
h1 {
    font-size: 48px;
    font-weight: bold; 
    color: #a9fe77; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    margin-bottom: 20px;
}
.hidden {
    display: none;
}
.input {
    background-color: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 20rem;
    margin-right: 1rem;
}
.input:focus {
    outline: none;
    border-color: #a9fe77;
}
.bouton {
    background-color: #a9fe77;
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 0.25rem;
}
.bouton:hover {
    background-color: #7bdb5b;
}