body {
    background-color: #333; /* Gris foncé */
    color: white; /* Texte blanc */
}
.result-list {
    list-style-type: none;
    padding: 0;
    border: 1px solid #555; /* Contour gris foncé */
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    background-color: #444; /* Gris foncé pour le fond */
}
.result-item {
    background-color: #333; /* Fond gris foncé pour les resultats */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.username {
    margin-left: 10px;
}
.profile-button, .add-button {
    background-color: #555; /* Gris foncé pour les boutons */
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.profile-button:hover, .add-button:hover {
    background-color: #666; /* Gris plus clair au survol */
}
.modal-content {
    background-color: #444; /* Gris foncé pour le modal */
    color: white;
}
.modal-header, .modal-footer {
    border: none;
}
.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-input {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px 0 0 5px;
    background-color: #444;
    color: white;
    width: 400px; /* Ajustez la largeur de la barre de recherche */
}
.search-button {
    padding: 10px 20px;
    border: 1px solid #555;
    border-radius: 0 5px 5px 0;
    background-color: #555;
    color: white;
    cursor: pointer;
}
.search-button:hover {
    background-color: #666;
}
.result-item > * {
    margin-right: 10px;
}
.result-item form {
    margin: 0;
}
.result-list {
    list-style: none;
    padding: 0;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Style de la zone cliquable pour afficher le profil */
.profile-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-trigger > * {
    margin-right: 10px;
}

/* Bouton Ajouter en vert et style ajusté */
.add-button {
    background-color: #a9fe77;
    color: #000;
    border: 1px solid #999;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.add-button:hover {
    background-color: #98e96a;
}