/*  
bleu pale 86fffd
bleu 28e6d3
vert a9fe77
mauve a650fc
*/

.profile-container {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    position: relative;
}


.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #a9fe77;
}

.greenText {
    color: #a9fe77;
}


#engrenage {
    position: absolute;
    top: 3%;
    right: 1%;
    font-size: xx-large;
    color: #a9fe77;
}

/* .bouton-ami {
    background: linear-gradient(135deg, #77f5fe, #2cc2bb);
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 10px #77f5fe;
    text-transform: uppercase;
}

.bouton-ami:hover {
    background: linear-gradient(135deg, #2cc2bb, #77f5fe);
    transform: scale(1.05);
}

.bouton-ami:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 5px #77f5fe;
} */

